* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f4f4f9;
}

/* Navigatsiya paneli */
.navbar {
  position: fixed; /* Butun menyu qotiriladi */
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Tugmalarni o'ngga surish */
  padding: 0 5%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* ISMNI CHEKADA QOTIRISH (POSITION BILAN) */
.logo {
  position: fixed; /* Yoki absolute */
  left: 40px; /* Chapdan masofa */
  top: 25px; /* Tepadan masofa */
  font-size: 24px;
  font-weight: 900;
  color: #2c3e50;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 1001; /* Hamma narsadan ustida turishi uchun */
}

/* Tugmalar */
.nav-links {
  display: flex;
  gap: 10px;
}

.nav-btn {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 5px;

  transition: 0.3s ease;
}

/* Hover effekti */
.nav-btn:hover {
  background-color: #2c3e50;
  color: #fff;
  transform: scale(1.05); /* Kattalashish effekti */
}

/* Mobil moslashuv */
@media (max-width: 850px) {
  .logo {
    position: static; /* Mobil qurilmada o'rtaga olish uchun */
    margin-bottom: 10px;
  }
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 20px;
    justify-content: center;
  }
}
/* From Uiverse.io by adamgiebl */
.cssbuttons-io-button {
  background: #a370f0;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}
.orabtiruvchi-yozuv {
  width: 460px;
  border-radius: 15px;
  padding: 20px;
  margin-left: 100px;
  margin-top: 90px;
  background-color: wheat;
  height: 300px;
  transition: all 0.3s linear;
  box-shadow: #757bfb;
}
.orabtiruvchi-yozuv:hover {
  transform: scale(1.1);
  transition: all 0.3s linear;
  box-shadow: #757bfb 10px 10px 50px;
}
.h1-h1 {
  display: flex;
  justify-content: center;
  color: #fd6f00;
}
body {
  background-color: #2c3e50;
}
/* From Uiverse.io by Gautammsharma */
.material-checkbox {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #777777;
  cursor: pointer;
}

.material-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkmark {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  border: 2px solid #454b00;
  border-radius: 4px;
  transition: all 0.3s;
}

.material-checkbox input[type="checkbox"]:checked ~ .checkmark {
  background-color: #2f3300;
  border-color: #454b00;
}

.material-checkbox input[type="checkbox"]:checked ~ .checkmark:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.material-checkbox input[type="checkbox"]:focus ~ .checkmark {
  box-shadow: 0 0 0 2px #dfec5065;
}

.material-checkbox:hover input[type="checkbox"] ~ .checkmark {
  border-color: #c3cf34;
}

.material-checkbox input[type="checkbox"]:disabled ~ .checkmark {
  opacity: 0.5;
  cursor: not-allowed;
}

.material-checkbox input[type="checkbox"]:disabled ~ .checkmark:hover {
  border-color: #4d4d4d;
}
.ozida {
  width: 400px;
  padding: 20px;
  background-color: rgb(0, 0, 0, 0.5);
  height: 300px;
  border-radius: 15px;
  margin-left: 660px;
  margin-top: -300px;

  transition: all 0.3s linear;
}
.ozida:hover {
  box-shadow: ghostwhite 10px 10px 33px;
  transform: scale(1.1);
  transition: all 0.3s linear;
}
.ozida-ozida {
  color: aqua;
  transform: scale(1.1);
  transition: all 0.3s linear;
}
.ozida-ozida:hover {
  color: aqua;
  text-shadow: rgb(105, 210, 210) 10px 10px 40px;
  transform: scale(1.1);
  transition: all 0.3s linear;
}

.color {
  color: rgb(20, 157, 20);
  transform: scale(1.1);
  transition: all.3s linear;
}
.color:hover {
  color: rgb(13, 216, 118);
  transform: scale(1.1);
  transition: all.3s linear;
  text-shadow: white 10px 10px 10px;
}
/* From Uiverse.io by escannord */
.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  z-index: 0;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon::after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: -1;
  border-radius: 50%;
  top: 100%;
}
.wrapper .icon:hover:after {
  animation: bg-pos 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1 both;
  animation-timing-function: ease-in-out;
}

.wrapper .icon:hover {
  color: #fff;
  overflow: unset;
  transition: color 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation: overflow-toggle 0.7s;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .facebook::after {
  background-color: #1877f2;
}
.wrapper .twitter::after {
  background-color: #1da1f2;
}
.wrapper .instagram::after {
  background-color: #e4405f;
}

.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}

@keyframes bg-pos {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}

@keyframes overflow-toggle {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}
.nomer {
  width: 300px;
  height: 300px;
  background-image: linear-gradient(to top, #7ed5d8, #cd5b5b);
  border-radius: 15px;
  margin-left: 1200px;
  margin-top: -290px;
  transition: all 0.3s linear;
}
.nomer:hover {
  background-image: linear-gradient(to top, #7ed5d8, #cd5b5b);
  transform: scale(1.1);
  transition: all 0.3s linear;
  box-shadow: white 10px 10px 44px;
}
.hero {
  width: 250px;
  height: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  transition: all 0.3s linear;
}
.xxl {
  padding: 0px;
}
.vvv {
  width: 1400px;
}
.color1 {
  color: white;
}
.card-continer {
  display: flex;

  justify-content: space-around;
  margin: 0 auto;
}
.hero:hover {
  transform: scale(1.1);
  transition: all 0.3s linear;
  box-shadow: white 10px 10px 30px;
  background-color: black;
  color: white;
}
.continer3 {
  padding: 60px;
  padding-bottom: 30px;
  color: white;
}
/* From Uiverse.io by barisdogansutcu */
.btn-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: relative;
  padding: 0 20px;
  font-size: 18px;
  text-transform: uppercase;
  border: 0;
  box-shadow: hsl(210deg 87% 36%) 0px 7px 0px 0px;
  background-color: hsl(210deg 100% 44%);
  border-radius: 12px;
  overflow: hidden;
  transition: 31ms cubic-bezier(0.5, 0.7, 0.4, 1);
}

.btn-btn:before {
  content: attr(alt);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  font-size: 15px;
  font-weight: bold;
  color: white;
  letter-spacing: 4px;
  opacity: 1;
}

.btn-btn:active {
  box-shadow: none;
  transform: translateY(7px);
  transition: 35ms cubic-bezier(0.5, 0.7, 0.4, 1);
}

.btn-btn:hover:before {
  transition: all 0s;
  transform: translateY(100%);
  opacity: 0;
}

.btn-btn i {
  color: white;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 4px;
  font-style: normal;
  transition: all 2s ease;
  transform: translateY(-20px);
  opacity: 0;
}

.btn-btn:hover i {
  transition: all 0.2s ease;
  transform: translateY(0px);
  opacity: 1;
}

.btn-btn:hover i:nth-child(1) {
  transition-delay: 0.045s;
}

.btn-btn:hover i:nth-child(2) {
  transition-delay: calc(0.045s * 3);
}
.btn-btn:hover i:nth-child(3) {
  transition-delay: calc(0.045s * 4);
}

.btn-btn:hover i:nth-child(4) {
  transition-delay: calc(0.045s * 5);
}

.btn-btn:hover i:nth-child(6) {
  transition-delay: calc(0.045s * 6);
}

.btn-btn:hover i:nth-child(7) {
  transition-delay: calc(0.045s * 7);
}

.btn-btn:hover i:nth-child(8) {
  transition-delay: calc(0.045s * 8);
}

.btn-btn:hover i:nth-child(9) {
  transition-delay: calc(0.045s * 9);
}

.btn-btn:hover i:nth-child(10) {
  transition-delay: calc(0.045s * 10);
}
.btn-card {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.img {
  padding: 30px;
  border-radius: 50px;
}
/* From Uiverse.io by Thomasfadi */
.cards {
  display: flex;

  gap: 15px;
  justify-content: space-around;
  margin-top: 220px;
  border-radius: 30px;
}

.cards .red {
  background-color: #007e9e;
}

.cards .blue {
  background-color: #0062ff;
}

.cards .green {
  background-color: #18cd5e;
}

.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: 0.7em;
}

.cards .card:hover {
  transform: scale(1.2, 1.2);
}

.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}
.continer4 {
 
  display: flex;
  justify-content: space-evenly;
}
.continer4-text1{
  color: white;
}
.continer4-text2{
  color: white;
}
.nima{
 margin-top: 400px;
}